application: app-id
version: 1
runtime: python
api_version: 1

handlers:

- url: /sendim/demo
  static_files: sendimdemo.html
  upload: sendimdemo.html

- url: /sendim
  script: sendim.py

- url: /sendim/.*
  script: sendim.py

- url: .*
  script: main.py
